*{
    box-sizing: border-box;
}
div{
    display: flex;
}
/* main body start */
#k1{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}
.main-body{
    flex-direction: row;
    margin: 0px;
    width: 100%;
    transition: 0.5s;
}
.main-content{
    height:fit-content;
    width: 100%;
    /* border: solid red 2px; */
    background-color:rgb(250, 250, 235);
}
/* main  body end */
/* content part start*/
.content{
    padding-top: 50px;
    /* border: solid 2px green; */
    height: fit-content;
    width: 100%;
    margin-top: 85px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
/* content end */

/* header start */
.navbar{
    /* border: solid black 2px; */
    height: 80px;
    width: 100%;
    background-color: rgb(250, 250, 235);
    position: fixed;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navbar>div{
    height: 100%;
}
/* dividing nav-bar in various parts => status-start*/
.logo-part
{
    /* border: solid green 1px; */
    width: 120px;
    justify-content: center;
}
.search-part{
    /* border: solid 1px purple; */
    width: 0px;
    flex-grow: 1;
}
.city-selection-modal{
    /* border: solid red 1px; */
    width: 230px;
    justify-content: center;
}
.user-modal{
    /* border: 1px solid green; */
    width: 100px;
    justify-content: center;
}
/*dividing nav-bar in various parts => status-end  */

/* logo start */
.logo{
    /* border: solid black 1px; */
    padding-top: 10px;
    height:80px;
    width: 80px;
    align-self: center;
}
.logo img{
    height: 50px;
    width: 100%;
}
/* logo end */

/* city selection modal start */
.modal1{
    border:solid 1px rgb(102, 100, 100) ;
    height:40px;
    width:170px;
    align-self: center;
    border-radius: 12px;
}
.us{
    /* border:2px solid green; */
    width: 10%;
    height:100%;
    margin-top: 12px;
    margin-right:4px;
}
.us2{
    /* border:2px solid black; */
    width: 90%;
    padding-top: 8px;
    justify-content: center;
    height:100%;
}
/* city selection modal end */

/* bars button start */
.bars{
    padding-top: 3px;
}
.bars>button {
    width: 45px;
    font-size:33px;
    height: 45px;
    width: 45px;
    margin-top: 0px;
    border-radius: 50%;
}
/* bars button end */

/* header end */

/* for modal structure start */
.modal-part{
    background-color:rgb(2, 18, 51);
    height: 100vh;
    width: 0px;
    transition: 0.5s;
    flex-grow: 1;
}
.modal{
    padding-top: 50px;
    height: 100vh;
    width: 310px;
    background-color: rgb(2, 18, 51);
    justify-content: center;
    /* border: solid white 2px; */
}
/* for login form */
.login{
    border: solid #10e8c4 2px;
    display: none;
    height: 285px;
    width: 280px;
    flex-direction: column;
    background-color:rgb(2, 18, 51);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.login-title{
    justify-content: center;
}
.login-title>h4{

    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0px;
    color:#FF00E6;
}
.logincontent{
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    flex-direction: column;
}
#login-form{
    padding-top: 10px;
}
#login-form>div{
    display: flex;
    /* border: solid grey 1px; */
    margin-bottom: 20px;
    justify-content: center;
}
.box>input{
    height: 35px;
    width: 250px;
    border: none;
    border-bottom: solid grey 2px;
    background-color: rgb(2, 18, 51);
    align-self: center;
}
.box>input:hover{
    color: rgba(255, 255, 255, 0.742);
}
#login-form input:focus{
    outline: none;
}
#login-form input{
    color: white;
}
.submit-box{
    margin-top: 15px;
    width: 260px;
}
.to-signup{
    justify-content: center;
}
.B1{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 250px;
}
.submit-box>button{
    margin-left: 17px;
    border-radius: 5px;
    border:none;
    height: 30px;
    width: 100px;
}
/* Login end */

/* logged in user profile */
.background-cover{
    height: 120px;
    width: 100%;
    /* border: solid black 1px; */
    position: relative;
    justify-content: center;
}
.background-cover>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position: absolute;
}
.profile{
    /* border: solid green 1px; */
    height: 85px;
    width: 85px;
    position: absolute;
    margin-top: 80px;
    border-radius: 50%;
}
.User-name{
    margin-top: 50px;
    /* border: solid purple 1px; */
    justify-content:center;
}
.User-name>h3{
    margin:0px;
}
.to-dashboard{
/* border: solid black 1px; */
justify-content: center;
}
.to-dashboard>button{
    border: none;
    border-radius: 8px;
    margin: 10px;
    height: 35px;
    width: 100px;
}

/* end of logged in */

/* singup start */
.layer{
    display:none;
    position: fixed;
    height: 100%;
    width: 100%;
    transition-delay: 0.5s;
}
.cover{
    height: 100%;
    width: 100%;
    /* background-image: url(../img/5440725.jpg); */
    /* background-color: rgb(2, 18, 51); */
    backdrop-filter: brightness(20%);
    animation-name: fade;
    animation-duration: .1s;
    justify-content: center;
}
.signup{
    display: none;
    align-self: center;
    height: 400px;
    width: 280px;
    background-color: rgb(0,0,0,0.001);
    flex-direction: column;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
#signup-form input{
    background-color:rgb(0,0,0,0.001);
    color: white;
    font-size: 14px;
}
#signup-form input:focus{
    outline: none;
    font-size: 14px;
    color: white;
}
#signup-form input::placeholder{
    color: white;
    font-size: 14px;
    opacity: 1;
}
#signup-form>div{
    margin-bottom: 15px;
}
.signup-title{
    width: 100%;
    justify-content: center;
    padding-top: 5px;
}
.signupcontent
{
    justify-content: center;
    padding-top: 10px;
}
.signup-title>h3{
    color:rgb(226, 221, 221);
    margin: 0px;
    font-size: 25px;
}
.gender-blender{
    padding: 5px;
}
.gender-blender>p{
    margin: 10px;
    color: white;
}
.signup-submit{
    width: 100%;
    justify-content: center;
}
.signup-submit>button{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}
/* signup end */

@keyframes fade{
    from{opacity: 0;}
    to{opacity:  1;}
}
/* modal end */

/* á¸rop down */
.dropbtn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    /* border: solid black 2px; */
    background-image: url(../img/user.png);
    background-size: 60px 60px;
  }
  
  .dropdown {
    margin-top:-10px;
    display: flex;
    margin-right: 30px;
    align-self: flex-end;
    flex-direction: column;
    margin-bottom:10px;
    /* border: solid black 2px; */
  }
  .dropdown-content {
    background-image: url(../img/user.png);
    display: none;
    align-self: center;
    height: 120px;
    width: 150px;
    z-index: 3;
    margin-top: 60px;
    margin-right: 50px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
  }
  .dropdown-content>div{
    margin: 0px;
    height: 30px;
    padding-left: 10px;
    /* border: solid green 2px; */
  }
  .dropdown-content>div>p{
    margin: 0px;
  }
  .dropdown-content h3
  {
    margin-top: 10px;
    margin-left: 10px;
  }
  .dropdown-content a {
    color: black;
    margin: 0px; 
    text-decoration: none;
    display: flex;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  .logout:hover{
    cursor: pointer;
  }
  